/* Aleksandra Kulbaka, 2020 */

body {
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
    height: 100%;
    font-family: Karla, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#description {
    margin-top: 100px;
    width: 100%;
}

#picture {
    height: 600px;
    width: 50%;
    float: left;
}

#text {
    width: 50%;
    float: left;
    height: 600px;
}

#text p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 150px;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
}

#form {
    width: 80%;
    text-align: center;
}

.question {
    margin-top: 30px;
}

.question p {
    font-weight: bold;
}

.field {
    /* display: inline-block; */
    width: 80%;
    margin: 0;
}

select option {
    background-color: rgb(150, 160, 163);
    border: none;
}

select {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    /* font-size: 28px; */
}

input {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Karla, Verdana, sans-serif;
}

input[type=submit] {
    font-size: 23px;
}

input[type=submit]:hover {
    font-weight: bold;
    cursor: pointer;
    border: 3px solid black;
    margin-bottom: -2px;
}

#response {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-style: italic;
    color: rgb(36, 36, 36);
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    text-align: center;
    color: rgb(95, 95, 95);
    font-size: 18px;
    margin-bottom: 30px;
}

#image_licence {
    font-size: 13px;
}

@media only screen and (max-width: 800px) {
    #picture {
        width: 80%;
        float: center;
        margin-left: 10%;
    }
    #text {
        width: 80%;
        float: center;
        margin-left: 10%;
    }
}